* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    gap: 2rem;
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
}



nav ul {
    flex-direction: 75%;
    align-items: center;
    display: flex;
}

form {
    margin: 2px 25px;
    border: 1px solid black;
    padding: 0.5rem 13rem 0.5rem 1rem;
    border-radius: 55px;
}

form input {
    text-align: left;
    border: none;
}

nav ul li {
    font-size: 13px;
    margin-right: 4rem;
    list-style: none;

}

nav ul button, nav ul img{
    margin-right: 0.6rem;
}

nav ul button{
    background-color: white;
    padding: 0.3rem;
}

nav ul li a {
    text-decoration: none;
}

/* styling the section */
section{
    width: 85%;
    margin: auto;
}

.div1 {
    margin: 1.5rem 0;
}

.div1 ul {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    text-decoration: none;
}

.div1 a{
    text-decoration: none;
    color: grey;
}

.div1 .pyth {
    color: black;
}

.div1 p {
    margin: 1.5rem 0;
}

.div2 {
    border: 1px solid grey;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

.sales1 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.div2 p {
    margin: 1rem 0;
    font-size: 15px;
    line-height: 1.4rem;
    width: 65%;
    color: rgb(95, 89, 89);
}

.div2 button{
    margin-bottom: 1rem;
    background-color: white;
    padding: 0.3rem;
}

.sales1 img {
    /* width: 90%; */
}
.sales1 h2 {
   width: 90%;
   font-size: 1rem;
}

.sales1 i{
    color: orange;
}

.rate {
    display: flex;
    margin: 1rem 0;
}